@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-border: #E4E3DC;
  --color-bg: #F5F4EE;
  --color-bg-secondary: #FAFAF8;
  --color-text: #2B2A26;
  --color-text-secondary: #706F6A;
  --color-text-tertiary: #9C9B95;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-geist-mono);
}
