@keyframes ping-sm {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(36px);
  }
}

@keyframes ping-md {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(48px);
  }
}

@keyframes ping-lg {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(60px);
  }
}

.animateSm {
  animation: ping-sm 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}

.animateMd {
  animation: ping-md 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}

.animateLg {
  animation: ping-lg 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}
